/* ------------------------------------------------------
   NAVBAR GENERAL
------------------------------------------------------ */
.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 18px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(15,16,227) 10%, transparent);
    z-index: 100;
}
.nav-dark{
    background: #141414;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-left img{
    width: 90px;
}

.desktop-menu{
    display: flex;
    list-style: none;
    gap: 20px;
}

.link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* ------------------------------------------------------
   HAMBURGER BUTTON (mobile)
------------------------------------------------------ */
.menu-btn{
    width: 2px;
    cursor: pointer;
    display: none;
}

/* ------------------------------------------------------
   RIGHT
------------------------------------------------------ */
.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-right .icons{
    width: 35px;
    cursor: pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 40px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    z-index: 10;
    display: none;
}
.navbar-profile:hover .dropdown{
    display: block;
}

/* ------------------------------------------------------
   OVERLAY BLUR (fondo borroso)
------------------------------------------------------ */
.menu-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.4);
    z-index: 90;
}

/* ------------------------------------------------------
   MOBILE SLIDE MENU
------------------------------------------------------ */
.mobile-menu{
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    background: #111;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease;
    z-index: 200;
}
.mobile-menu.open{
    left: 0;
}

.mobile-menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.mobile-menu p{
    color: white;
    cursor: pointer;
}

.close-btn{
    width: 35px;
    align-self: flex-end;
    cursor: pointer;
}

/* ------------------------------------------------------
   RESPONSIVE
------------------------------------------------------ */
@media (max-width:800px){
    .desktop-menu{
        display: none;
    }
    .menu-btn{
        height: 40px;
        display: block;
        
        
    }
}
